<%- include('../partials/header') %>
<main class="main-description">
<h1 class="coffee-title"><%= coffee.coffeeName %>, <%= coffee.roaster %></h1>
<img src="/images/genric_coffee.jpg" >
<div class="description-notes">
<br>
<section> <strong>Description from roaster: <br> </strong><%= coffee.description %></section>
<br>
<section><strong>Tasting notes: <br> </strong><%= coffee.notes %></section>
</div>

<a href="<%=coffee.link %>" class= "visit">Visit Roaster's Site </a>
<div class="reviews">
<h3>Reviews for <%= coffee.coffeeName %></h3>

<% coffee.reviews.forEach(function(c) { %>
    
    <tr>
        <td><strong><%= c.userName %>:</strong></td>
        <td><%= c.text %> | </td>
        <td><strong><%= c.rating %> Stars</strong></td>
        <td><%= c.user %></td><br><br>

        <%# console.log(c.userId, user._id) %>
        <% if (user && c.userId === user._id.toString()) { %>
        
         <%# if (c.userId.equals(user._id)) { %>
        <%# if (user && c.userId.equals(user._id)) { %>

        
        <form action="/coffees/description/<%= coffee._id %>/<%=c._id%>?_method=DELETE"
            class="delete-form" method="POST"> 
        <button>Delete</button>
        </form>
        <form action="/coffees/description/<%= coffee._id %>/<%=c._id%>?_method=PUT"
            class="update-form" method="POST">
        <input type="hidden" value="<%=c._id%>" name="id"/>
        <label>Edit Review:</label>
        <textarea name="editReviewText"></textarea>
        <label>Edit Rating</label>
        <select name="editRating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        <button> Save </button><br><br><br>
        </form>
        
        
        <% } %>
        

      </tr>
    
<% }); %>

<br><br><br>
<form id="add-review-form" method="POST" action="/coffees/description/<%= coffee._id %>">
    <label>Write a review: </label>
    <textarea name="text"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
</div>
</main>
<br>
<br>
<br>
  <%- include('../partials/footer') %>